<a href="{{page.url}}" class="blog__link">
    <div class="blog__item">
        <div class="blog__image">
            <img class="lazyload" data-src="{{page.media[page.header.articleImage].cropResize(400,320).url}}" alt="{{page.header.title}}" /> 
        </div>
        <div class="blog__overview">                                          
            <h2 class="blog__title">{{page.header.title}}</h2>
            <time datetime="{{ page.header.date|date("c")}}" >
                <strong class="blog__publish-date">{{ page.header.date|date("d/m/Y") }}</strong>
            </time>
            <div class="blog__author">{{page.header.author}}</div>
            {{page.summary}}
        </div>
    </div>
</a>
