 {% block footer %}
</div>
        <footer class="footer">
                <div class="footer__left">&copy; Do Německa na zkušenou</div>
                <div class="footer__right">
                        <a href="https://elisiondesign.cz" target="blank_">by elision 2017</a>
                </div>
        </footer>
        <script src="{{url('theme://build/script.min.js')}}" type="text/javascript"></script>
    </body>
</html>
{% endblock footer %}