{% block header %}
{% set svgSpriteUrl = url('theme://images/sprite.symbol.svg') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{page.title}} - Do Německa na zkušenou</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="format-detection" content="telephone=no" />
        {% include 'partials/seo_meta.html.twig' %}
        {% include 'partials/language_href.html.twig' %}
        {% include 'partials/analytics.html.twig' %}
        <link href="{{ url('theme://build/style.min.css') }}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
    {% if (config.system.debugger.enabled) %}        
        {{ assets.css() }}
        {{ assets.js() }}
    {% endif %}
    </head>
    <body>
    <div class="wrapper">
        <header class="header">
            <div class="header__left">
                {% include "partials/menu.html.twig" %}
            </div>

            <div class="header__right">
                <div class="header__socials">
                    <a href="https://www.facebook.com/schulprojekt" target="blank_">
                        <svg class="svg-socials-small">
                            <use xlink:href="{{svgSpriteUrl}}#fb" />
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/donemeckanazkusenou/" target="blank_">
                        <svg class="svg-socials-small">
                            <use xlink:href="{{svgSpriteUrl}}#insta" />
                        </svg>
                    </a>
                     {% include 'partials/language_selector.html.twig' %}
                </div>
            </div> 
        </header>
{% endblock header %}