{% if not (page.rawRoute() | contains ('/blog')) %}
    {% set languages = grav["language"].getLanguages() %}
    {% set currentLanguage = grav["language"].getActive() %}
    {% for language in languages %}
        {% if (currentLanguage != language) %}
            <div class="lang-selector"><a href="/{{language}}{{page.route()}}">{{language}}</a></div>
        {% endif %}
    {% endfor %}
{% endif %}