{% set languages = grav["language"].getLanguages() %}
{% set currentLanguage = grav["language"].getActive() %}
{% for language in languages %}
    {% if (currentLanguage != language) %}
        <link rel="alternate" hreflang="{{language}}" href="/{{language}}{{page.route()}}" />        
    {% endif %}
{% endfor %}