{% set svgSpriteUrl = url('theme://images/sprite.symbol.svg') %}
<nav class="header__nav">
    <svg class="svg-logo-small-black" id="signpost">
        <use xlink:href="{{svgSpriteUrl}}#Logo_small" />
    </svg>
    <ul class="menu">
        {% for page in pages.children.routable %}
            {% if not ((page.url | contains('/blog')) and (page.url | contains('/de')))%}
            <li class="menu__item"><a href="{{page.url}}">{{page.title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>