        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{page.title}} - Do Německa Na Zkušenou">
        {% if (page.summary() != null ) %}
            <meta property="og:description" content="{{page.summary()|striptags}}">
        {% else %}
            <meta property="og:description" content="Projekt Do Německa na zkušenou nabízí interaktivní prezentace o možnostech studijních, dobrovolnických a pracovních pobytů nejen v Německu.">
        {% endif %}
        {% if page.header.articleImage is defined %}
                <meta property="og:image" content="{{page.media[page.header.articleImage].url}}">
        {% else %}
        <meta property="og:image" content="{{url('theme://images/thumb.png')}}">
        {% endif %}
        <meta property="og:url" content="{{page.url(true)}}">
        <meta property="og:site_name" content="Do Německa Na Zkušenou">
    