<div class="team__member">
    <div class="team__member-bio">  
        <a href="{{page.url}}">             
            <img class="team__member-image lazyload" data-src="{{page.media[page.header.smallImage | first.name].cropZoom(180,240).url}}" alt="{{page.header.name}}" />
            <h2 class="team__member-name">{{page.header.name}}</h2>
        </a>
    </div>
</div>