{% set svgSpriteUrl = url('theme://images/sprite.symbol.svg') %}
{% include "partials/header.html.twig" %}
<div class="content-wrapper">
    <div class="about">
        <div class="about__row">
            <div class="about__column">
                <img class="about__image lazyload" data-src="/{{page.header.projectImage|first.path}}" alt="{{page.header.projectImage|first.name|split('.')[0]}}" />
            </div>

            <div class="about__column about__column--left-margin">
                <h2 class="about__header">{{page.header.projectHeader}}</h2>
                {{ page.header.projectParagraph|markdown }}
            </div>
        </div>

        <div class="about__row">
            <div class="about__column about__column--right-margin">
                <h2 class="about__header">{{page.header.presentationHeader}}</h2>
                {{ page.header.presentationParagraph|markdown }}
            </div>

            <div class="about__column">
                <div class="about__video">                    
                    <iframe width="640" height="360" src="{{ page.header.presentationVideo | replace( {'https://youtu.be/' : 'https://www.youtube.com/embed/' })}}" frameborder="0" allowfullscreen></iframe>
                </div>                                
            </div> 
        </div>

    </div>

{% if (page.header.showInquiryButton) %}
    <div class="button">
        <a href="{{page.header.inquiryButton.url}}" class="button__submit">{{page.header.inquiryButton.text}}</a>
    </div>
{% endif %}
    <svg class="svg-partners">
        <use xlink:href="{{svgSpriteUrl}}#partners" />
    </svg>
</div>
{% include "partials/footer.html.twig" %}