{% set content = page.content|slice(page.summary|length) %}
{% set thumbnail = page.media.images[page.header.articleImage] %}

{% include "partials/header.html.twig" %}
        <div class="content-wrapper">
            <article class="article">
                <div class="article__heading">
                    <h1 class="article__title {{page.header.balanceText ? 'balance-text'}}">{{ page.title }}</h1>
                </div>
                <div class="article__meta">
                    <p class="article__date">
                        <time datetime="{{ page.header.date|date("c")}}" >
                            <strong class="blog__publish-date">{{ page.header.date|date("d/m/Y") }}</strong>
                        </time>
                    </p>
                    <div class="article__summary">
                        {{ page.summary() }}
                    </div>
                    <div class="article__thumbnail">
                        <img class="lazyload" data-src="{{ thumbnail.cropResize(800, 640).url }}" alt="{{page.title}}">
                    </div>
                    <p class="article__authors">
                        {{page.header.authors}}
                    </p>
                </div>
                <div class="article__content">
                	{{ content }}
                </div>
            </article>
        </div>

{% include "partials/footer.html.twig" %}