{% include "partials/header.html.twig" %}
{% set latestYear = page.header.years | reverse | first %}
<div class="content-wrapper">
     <div class="blog">
        <div class="blog__heading">
            <h1 class="blog__header">Blog</h1>
            {# <div class="blog__year">
                <select id="yearSelect">
                    {% for year in page.header.years | reverse %}
                        <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>
            </div> #}
        </div>
        <div class="blog__container">
            {% for blogPost in page.collection() %}                    
                {% include 'partials/blog_post.html.twig' with {'page': blogPost} %}                
            {% endfor %}
        </div>
    </div>
</div>
{% include "partials/footer.html.twig" %}