{% set svgSpriteUrl = url('theme://images/sprite.symbol.svg') %}
{% set imagesUrl = url('theme://images') %}
{% include "partials/header.html.twig" %}
<div class="content-wrapper">
    <div class="contact">
        <div class="contact__left">
            <img class="contact__image lazyload" data-src="{{imagesUrl}}/icons/Logo.svg" alt="Do Německa Na Zkušenou"/>
            <div class="contact__options">
                <div class="contact__points">
                    <a href="mailto:{{page.header.email | safe_email}}">{{page.header.email | safe_email}}</a> <br/>
                    {{page.header.phone}}
                </div>
                <div class="contact__social-media">
                    <a href="{{page.header.facebook}}" target="blank_">
                        <svg class="svg-socials">
                            <use xlink:href="{{svgSpriteUrl}}#fb" />
                        </svg>
                    </a>
                    <a href="{{page.header.instagram}}" target="blank_">
                        <svg class="svg-socials">
                            <use xlink:href="{{svgSpriteUrl}}#insta" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="persons">
            <div class="persons__contact">
                {% if page.header.contactPerson1.name is not null%}
                <div class="persons__image lazyload" data-bg="{{page.media[page.header.contactPerson1.image|first.name].cropZoom(300,300).url}}"></div>

                <h2 class="persons__name">{{page.header.contactPerson1.name}}</h2>
                <p class="persons__paragraph">
                    {{page.header.contactPerson1.position}}<br />
                    {{page.header.contactPerson1.phone}}
                </p>
                {% endif %}
            </div>          

            <div class="persons__contact">
                {% if page.header.contactPerson2.name is not null %}
                <div class="persons__image lazyload" data-bg="{{page.media[page.header.contactPerson2.image|first.name].cropZoom(300,300).url}}"></div>

                <h2 class="persons__name">{{page.header.contactPerson2.name}}</h2>
                <p class="persons__paragraph">
                    {{page.header.contactPerson2.position}}<br />
                    {{page.header.contactPerson2.phone}}
                </p>
                {% endif %}
            </div> 

            <div class="persons__contact">
                {% if page.header.contactPerson3.name is not null %}
                <div class="persons__image lazyload" data-bg="{{page.media[page.header.contactPerson3.image|first.name].cropZoom(300,300).url}}"></div>

                <h2 class="persons__name">{{page.header.contactPerson3.name}}</h2>
                <p class="persons__paragraph">
                    {{page.header.contactPerson3.position}}<br />
                    {{page.header.contactPerson3.phone}}
                </p>
                {% endif %}
            </div>  
        </div>
    </div>
</div>
{% include "partials/footer.html.twig" %}