{% include "partials/header.html.twig" %}
{% set svgSpriteUrl = url('theme://images/sprite.symbol.svg') %}
<div class="content-wrapper">
    <div class="textbox">
        <h1 class="textbox__header">404 error</h1>

        <div class="textbox__column">
            <h2 class="textbox__subheader">Stránka nebyla nalezena</h2>
            <p class="textbox__paragraph">
                Omlouváme se Vám za vzniklé komplikace. 
                <br />Využijte prosím odkazů v menu k dalšímu prohlížení stránek.
            </p>
            <p class="textbox__paragraph">
                Přejeme Vám hezký den!
            </p>
        </div>

        <div class="textbox__column">
            <div class="svg-404">
                <img src="{{url('theme://images/404.svg')}}"/>
            </div>
        </div>
    </div>
</div>
{% include "partials/footer.html.twig" %}