{% set svgSpriteUrl = url('theme://images/sprite.symbol.svg') %}
{% include "partials/header.html.twig" %}
<div class="content-wrapper">
    <div class="textbox">
        <h1 class="textbox__header">Nejčastější dotazy</h1>

        <div class="textbox__column">
            {{page.header.leftColumn|markdown}}
        </div>

        <div class="textbox__column">
            {{page.header.rightColumn|markdown}}
        </div>
    </div>
</div>
{% include "partials/footer.html.twig" %}