{% set svgSpriteUrl = url('theme://images/sprite.symbol.svg') %}
{% set imagesUrl = url('theme://images') %}

{% include "partials/header-index.html.twig" %}

<div class="content-wrapper">
    <div class="highlight">
        <div class="highlight__item highlight__item--wider">
            <div class="highlight__image">
                <img src="{{imagesUrl}}/icons/Logo.svg" alt="Do Německa Na Zkušenou" />
            </div>
            <p class="highlight__paragraph">
                Projekt Do Německa na zkušenou nabízí interaktivní prezentace o možnostech
                studijních, dobrovolnických a pracovních pobytů nejen v Německu.
            </p>
        </div>

        <div class="highlight__item">
            <div class="highlight__image">
                <svg class="svg-logo">
                    <use xlink:href="{{svgSpriteUrl}}#zaci" />
                </svg>
            </div>
            <p class="highlight__description">
                Pro žáky základních a středních škol.
            </p>
        </div>

        <div class="highlight__item">
            <div class="highlight__image">
                <svg class="svg-logo">
                    <use xlink:href="{{svgSpriteUrl}}#minuty" />
                </svg>
            </div>
            <p class="highlight__description">
                Prezentace trvá 90 minut.
            </p>
        </div>

        <div class="highlight__item">
                <div class="highlight__image">
                <a href="/o-projektu">
                    <svg class="svg-logo">
                        <use xlink:href="{{svgSpriteUrl}}#prezentace" />
                    </svg>
                </a>
                </div>
                <p class="highlight__description">
                    Co je obsahem prezentace?
                </p>
        </div>
    </div>

    <div class="button">
        <a href="{{page.header.inquiryButton.url}}" class="button__submit">{{page.header.inquiryButton.text}}</a>
    </div>

    <div class="persons">
        {% for person in page.header.persons %}
            <div class="persons__person">
                {% if ( person.image | first) %}
                    <div class="persons__image lazyload" data-bg="{{person.image|first.path}}"></div>
                {% endif %}

                <h2 class="persons__name">{{person.name}}</h2>
                <h3 class="persons__position">{{person.position}}</h3>
                <p class="persons__paragraph">
                    {{person.description}}
                </p>
            </div>
        {% endfor %}
    </div>

    <div class="button">
        <a href="{{page.header.FAQButton.url}}" class="button__submit">{{page.header.FAQButton.text}}</a>
    </div>

    <svg class="svg-partners">
        <use xlink:href="{{svgSpriteUrl}}#partners" />
    </svg>
    <svg class="svg-partners-md">
        <use xlink:href="{{svgSpriteUrl}}#partners-md" />
    </svg>
    <svg class="svg-partners-sm">
        <use xlink:href="{{svgSpriteUrl}}#partners-sm" />
    </svg>
</div>

{% include "partials/footer.html.twig" %}