{% set svgSpriteUrl = url('theme://images/sprite.symbol.svg') %}
{% include "partials/header.html.twig" %}
<div class="content-wrapper">
    <div class="member">
        <div class="member__column">
            <img class="about__image lazyload" data-src="{{ page.media[page.header.image | first.name].cropZoom(1000, 800).url}}" alt="{{page.header.name}}" />
            <div class="member__back"><a href="{{page.parent.url}}">&lt; zpět</a></div>
        </div>

        <div class="member__column member__column--left-margin">
            <h2 class="member__header">{{page.header.name}}</h2>

            {% for question in page.header.questions %}
                <div class="member__question">{{question.question}}:</div>
                <div class="member__answer">{{question.answer}}</div>
            {% endfor %}
        </div>
    </div>
</div>
{% include "partials/footer.html.twig" %}    