{% set svgSpriteUrl = url('theme://images/sprite.symbol.svg') %}
{% include "partials/header.html.twig" %}
<div class="content-wrapper">
    <div class="team">        
        {% for member in page.collection() %}
            {% include 'partials/team_member.html.twig' with {'page': member} %}
        {% endfor %}
    </div>
</div>
{% include "partials/footer.html.twig" %}